SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGIN_PORTS=8011
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8011,http://localhost:8011
DATABASE_URL=sqlite:///db.sqlite3
